.page-header {
    padding: 2em 0;
    position: fixed;
    width: 100%;
    z-index: 110;

    header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 0 2em;
    }
    .logo {
        height: 60px;
        width: 60px;
        z-index: 5;
        img {
            max-width: 100%;
        }
    }
    
}