.page-header {
    header {
        display: flex;
        align-items: center;
    }
    .logo {
        height: 60px;
        width: 60px;
        background: #e3001b;
    }
    .hamburger {
        height: 30px;
        .bar {
            height: 1px;
            background: #000;
            margin-bottom: 1px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}