/*Typography 
 variables
	
*/

body {
    font-family: 'nexa_lightregular';
}

//Fonts
.font-face('nexa_boldregular', '../Public/fonts/nexa_bold-webfont', normal, normal);
.font-face('nexa_lightregular', '../Public/fonts/nexa_light-webfont',  normal, normal);


@font-nexa-ltrg : 'nexa_lightregular';
@font-nexa-bdrg : 'nexa_boldregular';