.banner {
    text-align: center;
    padding: 200px 0;
    .title {
        font-size: 5em;
        font-weight: bold;
        line-height: 0.92;
        text-align: center;
        color: #000000;
        width: 470px;
        margin: 0 auto;
    }
    .sub-title {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.2;
        color: #000000;
    }
}